<div data-toggle='firechat-contextmenu' class='contextmenu' data-message-id='<%- id %>'>
  <ul>
    <li><a href='#!' data-event='firechat-user-warn'>Alertar Usuário</a></li>
    <% if (allowKick) { %>
      <li><a href='#!' data-event='firechat-user-kick'>Banir Usuário</a></li>
    <% } %>
    <li><a href='#!' data-event='firechat-user-suspend-hour'>Suspender Usuário (1 Hora)</a></li>
    <li><a href='#!' data-event='firechat-user-suspend-day'>Suspender Usuário (1 Dia)</a></li>
    <li><a href='#!' data-event='firechat-message-delete'>Deletar Mensagem</a></li>
  </ul>
</div>
